div.ground {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: auto;
  background: #b7c5cd;
}

.flipper-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.flipper {
  position: absolute;
  background-size: 100px 40px;
  width: 100px;
  height: 40px;
}

.flipper.left {
  top: 0;
  left: 10px;
  background-image: url("https://exorciser.ch/_media/pub/flipper-left.png");
  transform-origin: 18% 50%;
  transform: rotateZ(32deg);
}

.flipper.right {
  top: 0;
  right: 10px;
  background-image: url("https://exorciser.ch/_media/pub/flipper-right.png");
  transform-origin: 82% 50%;
  transform: rotateZ(-32deg);
}

#bumper {
  background-color: green;
  border-radius: 50%;

  /* Position */
  position: absolute;
  top: 20px;
  left: 100px;
  width: 60px;
  height: 60px;

  /* Text Attributes */
  text-align: center;
  line-height: 60px;
  color: greenyellow;
  font-weight: bold;
}

#instruction {
  position: absolute;
  top: 200px;
  left: 80px;
}

.ball {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 50px;
  background: linear-gradient(145deg, #fe5660, #d54851);
  box-shadow: 1px 1px 2px #9c353b, -1px -1px 2px #ff6b79;
}

.collisionPoint {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 10;
  transform-origin: center;

  border-radius: 10px;
  background: linear-gradient(145deg, #a5b1b9, #c4d3db);
  box-shadow: 1px 1px 2px #808a90, -1px -1px 2px #eeffff;
}

/* .line {
  height: 1px;
  background-color: black;
} */

.simpleLine {
  height: 2px;
  background-color: #b7bec2;
  position: absolute;
  transform-origin: center left;
  border-radius: 2px;
  box-sizing: border-box;
}

.simpleFlipper {
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transform-origin: bottom left;

  border-radius: 16px;
  background: #b7c5cd;
  box-shadow: 1px 1px 2px #778085, -1px -1px 2px #f7ffff;
}

.simpleFlipper.right {
  border-radius: 16px;
  background: #b7c5cd;
  box-shadow: -1px -1px 2px #778085, 1px 1px 2px #f7ffff;
}

.simpleBumber {
  box-sizing: border-box;

  position: absolute;

  background: linear-gradient(145deg, #c4d3db, #a5b1b9);
}
