body {
  background: #b7c5cd;
}

* {
  font-family: "Orbitron", sans-serif;
}

div.ground {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: auto;
  background: #b7c5cd;

  border-radius: 0px;
  background: #b7c5cd;
  box-shadow: 100px 100px 200px #757e83, -100px -100px 200px #f9ffff;
}

.ball {
  position: absolute;
  display: block;

  border-radius: 50px;
  background: linear-gradient(145deg, #fe5660, #d54851);
  box-shadow: 1px 1px 2px #9c353b, -1px -1px 2px #ff6b79;
}

.collisionPoint {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 10;
  transform-origin: center;

  border-radius: 10px;
  background: linear-gradient(145deg, #a5b1b9, #c4d3db);
  box-shadow: 1px 1px 2px #808a90, -1px -1px 2px #eeffff;
}

.simpleLine {
  height: 2px;
  background-color: #b7bec2;
  position: absolute;
  transform-origin: center left;
  border-radius: 2px;
  box-sizing: border-box;
}

.simpleFlipper {
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transform-origin: bottom left;

  border-radius: 16px;
  background: #b7c5cd;
  box-shadow: 1px 1px 2px #778085, -1px -1px 2px #f7ffff;
}

.simpleFlipper.right {
  border-radius: 16px;
  background: #b7c5cd;
  box-shadow: -1px -1px 2px #778085, 1px 1px 2px #f7ffff;
}

.simpleBumber {
  box-sizing: border-box;

  transition: all ease 1s;

  position: absolute;

  background: linear-gradient(145deg, #c4d3db, #a5b1b9);
}

.startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  display: block;
  height: 50px;
  color: #f7ffff;
  border: none;

  border-radius: 20px;
  background: linear-gradient(145deg, #a5b1b9, #c4d3db);
  box-shadow: 11px 11px 22px #798287, -11px -11px 22px #f5ffff;

  transition: all ease 1s;

  outline: none;

  cursor: pointer;
}

.startButton:hover {
  color: #c4d3db;
  border-radius: 20px;
  background: linear-gradient(145deg, #a5b1b9, #c4d3db);
  box-shadow: 11px 11px 60px #798287, -11px -11px 60px #f5ffff;
}

.startButton.inactive {
  display: none;
}

.scoreHeading {
  margin: 0;

  color: #c4d3db;
  bottom: 50px;
  left: 50px;
  position: absolute;
  font-size: 64px;
}

.scoreNumber {
  margin: 0;

  color: #c4d3db;
  bottom: 50px;
  right: 50px;
  position: absolute;
  font-size: 64px;

  background: linear-gradient(
    61deg,
    rgba(196, 211, 219, 1) 0%,
    rgba(254, 86, 96, 1) 100%
  );

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
